@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eQuine Market</h1>
    <p class="lead">No hour of life is wasted that is spent in the saddle.<br />  ~Winston Churchill </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Horses For Sale</h2>
        <p>
            List all current horses for sale.
        </p>
        <p>@Html.ActionLink("List horses", "List", new { controller = "Horse" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Search widget for horse offers</h2>
        <p>Filter Horse offers with AJAX technology</p>
        <p>@Html.ActionLink("Search horses", "Search", new { controller = "Horse" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>